RewriteEngine On

RewriteCond %{REQUEST_URI} favicon|\.(js|ttf|jpg|png|mp3)$
RewriteRule ^ - [L]

RewriteCond %{HTTP:Accept} application/json [OR]
RewriteCond %{HTTP:Accept} text/html [OR]
RewriteCond %{HTTP:Accept} ^\*/\*$
RewriteRule ^(.+)/?$ index.php [L]